<template name="custom_fullPageAtForm">
    {{#if isRegister}}
        <div class="at-form">
            <p style="font-style: italic;">Opn.Coffee is a platform for professional coffee exchange, built to treat its members as valued guests. Our users aren’t eyeballs to be sold to advertisers, they’re the foundation of our community.</p>
            <br>
            <br>
            <p style="font-style: italic;">We charge a USD $30/year membership fee in order to ensure a professional demeanor in our discourse and to support the continued building, moderation, and maintenance of the site. At the same time, we want to balance openness and accessibility against these concerns, so reading feeds and posts is free to all.</p>
            <br>
            <br>
            <p style="font-style: italic;">Becoming an Opn.Coffee Member entitles you to the follow benefits:
                <br>- The ability to read and post comments.
                <br>- Access to the Opn.Coffee Link Sharing and Posting facilities.
                <br>- Access to the bustling Opn.Coffee Slack real-time chat platform.
                <br>- Discounts on upcoming educational and technical products from Opn.Coffee.
            </p>
            <br>
            <br>
            <p style="font-style: italic;">Become an Opn.Coffee member, and see what the pros are saying about coffee’s biggest stories.</p>
        </div>
    {{/if}}
    {{> atForm}}
</template>