<template name="custom_post_page">
    {{#with post}}
        {{#if isPending}}
            <div class="grid">
                <div class="error pending-message module">
                    {{_ "thanks_your_post_is_awaiting_approval"}}
                </div>
            </div>
        {{/if}}
        <div class="single-post grid">
            <div class="posts posts-list">
                {{> post_item}}
            </div>
            {{#if body}}
                {{> post_body}}
            {{/if}}
            {{#unless isGuest}}
                {{> comment_submit}}
                {{> comment_list}}
            {{else}}
                {{> guest_message}}
            {{/unless}}
        </div>
    {{/with}}
</template>