<template name="custom_comment_list">
    {{#unless isLoggedIn}}
        {{> comment_register_message}}
    {{else}}
    {{#unless isGuest}}
        <ul class="comments comment-list" aria-live="polite">
            {{#each child_comments}}
                {{> comment_item}}
            {{/each}}
        </ul>
        {{> modules "commentThreadBottom"}}
    {{else}}
        {{> guest_message}}
    {{/unless}}
    {{/unless}}
</template>
