<template name="custom_comment_submit">
  {{#if canComment}}
    <div class="comment-form comment-new module">
      <h4 class="comment-new-heading">{{_ "add_comment"}}</h4>
      {{> quickForm collection="Comments" id="submitCommentForm" template="bootstrap3-horizontal" input-col-class="controls" type="method" meteormethod="submitComment" fields=commentFields parentContext=this}}
    </div>
  {{else}}
    {{#if isLoggedIn}}
      <p class="cannot-comment-message">{{_ "sorry_you_do_not_have_the_rights_to_comments"}}</p>
    {{else}}
      <!--<p class="cannot-comment-message"><a href="{{pathFor route='atSignIn'}}">{{_ "please_log_in_to_comment"}}</a></p>-->
    {{/if}}
  {{/if}}  
</template>
