<template name="guest_message">
    <div class="alert alert-warning alert-block">
        <h4><i class="fa fa-bell-o"></i>&nbsp;&nbsp;You're a Guest</h4>
        <div style="display: flex">
           <p style="padding-top: 8px"><i>Become an Opn.Coffee member, and see what the pros are saying about coffee’s biggest stories.</i></p> <span style="padding-left:15px;"><button style="float: right" id="customButton">Purchase</button></span>
        </div>

        <script>
            var handler = StripeCheckout.configure({
                //Test Key
                //key: 'pk_test_XqHlTE3CTNyRlI8JBPt4KjRn',
                key: 'pk_live_aGf7jUFZb0nji9do7pO1qd9n',
                image: '/images/android-chrome-72x72.png',
                token: function(token) {
                    var user = Meteor.user();
                    // Use the token to create the charge with a server-side script.
                    // You can access the token ID with `token.id`

                    Meteor.call('stripMembershipCheckout' , token, user, function(error, id) {
                        if (error) {
                            // display the error to the user
                            throwError(error.reason);
                        }
                    });
                }
            });

            $('#customButton').on('click', function(e) {
                // Open Checkout with further options
                handler.open({
                    name: 'Proper Ventures Pty. Ltd.',
                    description: 'OPN Coffee Monthly Membership',
                    currency: "aud",
                    amount: 3900
                });
                e.preventDefault();
            });

            // Close Checkout on page navigation
            $(window).on('popstate', function() {
                handler.close();
            });
        </script>
    </div>
</template>